/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
@import url('./1-timer.css');

/* index.html */
.index-header {
  text-align: center;
  text-transform: uppercase;
}
.nav {
  padding: 20px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}
.nav-link {
  display: inline-block;
  padding: 4px 8px;
  text-align: center;
  border: 1px solid;
  border-radius: 8px;
}
